
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<p>
    <button class="btn btn-primary m-5"><a asp-controller="Home" asp-action="AddStudent" style="color:white;">Add Student</a></button>
    <button class="btn btn-danger m-5"><a asp-controller="Home" asp-action="Logout" style="color:white;">Logout</a></button>
    <button class="btn btn-warning m-5"><a asp-controller="Home" asp-action="Dashboard2" style="color:black;">Dashboard secondary</a></button>
</p>
<table class="table">
    <thead>
    <th>Student Name</th>
    <th>Mobile Number</th>
    <th>BloodGroup</th>
    <th>Gender</th>
    <th>FileName</th>
    <th>Description</th>
    <th>Movie Name</th>
    <th>Subject Name</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.MobileNo
                </td>
                <td>
                    @item.BloodGroup
                </td>
                <td>
                    @item.Gender
                </td>
                <td>
                    @item.FileName
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                @foreach(var item1 in item.MovieNames){
                    <ul style="list-style-type:disc;">
                            @item1
                    </ul>
                }
                </td>
                <td>
                @foreach (var item1 in item.SubjectNames)
                {
                    <ul style="list-style-type:disc;">
                                @item1
                    </ul>
                }
                </td>
                <td>
                    <button class="btn btn-success"><a asp-action="Edit" asp-controller="Home" asp-route-id="@item.StudentId" style="color:white;">Edit</a> |</button>
                </td>
                <td>
                    <button class="btn btn-danger"><a asp-action="Delete" asp-route-id="@item.StudentId" style="color:white;">Delete</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>



